<h3><div class="alert alert-warning" role="alert">Add Comment</div></h3>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label "Name" %>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.label :body %>
        <%= f.text_area(:body, {:class => 'form-control', rows: 5}) %>
    </p>
    <p>
        <%= f.submit({:class => 'btn btn-default'}) %>
    </p>
<% end %>