<h1 class="mb-30">
        <span class="label label-primary">Edit Posts</span>
    </h1>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
    <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
        <% end %>  
    <% end %>
    <p>
        <%= f.label :title %>
        <%= f.text_field(:title, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.label :body %>
        <%= f.text_area(:body, {:class => 'form-control', rows: 15}) %>
    </p>
    <p>
        <%= f.submit('Send Update', {:class => 'btn btn-success'}) %>
    </p>
<% end %>
