<h2>
    <div class="alert alert-info" role="alert"><%= @post.title %></div>
</h2>
<p class="text-justify"><%= @post.body %></p>
<hr>
<%= link_to  "Edit", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to  "Delete", post_path(@post), method: :delete, data: {confirm: 'Are you sure ?'}, :class => 'btn btn-danger' %>
<hr>

<%= render 'comments/comments' %>
<%= render 'comments/form' %>